.cproject
.project
.settings/*
CMakeCache.txt
CMakeFiles/*
HELPERS/CMakeFiles/*
HELPERS/Makefile
HELPERS/cmake_install.cmake
Makefile
TestHELPERS/.cproject
TestHELPERS/.project
TestHELPERS/CMakeCache.txt
TestHELPERS/CMakeFiles/*
TestHELPERS/CMakeLists.txt.user
TestHELPERS/Makefile
TestHELPERS/bin/*
TestHELPERS/cmake_install.cmake
TestHELPERS/coverage/*
cmake_install.cmake
lib/*

#Windows
.vs/*
HELPERS.VC.db
HELPERS/HELPERS.vcxproj.user
TestHELPERS/LastCoverageResults.log
TestHELPERS/TestHELPERS.vcxproj.user
